services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: meusalud_auth
      POSTGRES_USER: meusalud_auth
      POSTGRES_PASSWORD: meusalud_auth
    ports:
      - "5435:5432"
    volumes:
      - meusalud-auth-db:/var/lib/postgresql/data

  auth-service:
    build: .
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./secrets:/keys:ro
    depends_on:
      - db
      - communication-service

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: dev_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: app
      RABBITMQ_DEFAULT_PASS: app_pass_123
      RABBITMQ_DEFAULT_VHOST: /
      RABBITMQ_LOAD_DEFINITIONS: /etc/rabbitmq/definitions.json
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - ./rabbitmq/definitions.json:/etc/rabbitmq/definitions.json:ro
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 10

  communication-service:
    build:
      context: ../communication-service
    env_file:
      - ../communication-service/.env.compose
    environment:
      DATABASE_URL: postgresql://meusalud_auth:meusalud_auth@db:5432/meusalud_auth?schema=notification
    ports:
      - "3006:3006"
    depends_on:
      - db

volumes:
  meusalud-auth-db:
  rabbitmq_data:
