services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: meusalud_auth
      POSTGRES_USER: meusalud_auth
      POSTGRES_PASSWORD: meusalud_auth
    ports:
      - "5435:5432"
    volumes:
      - meusalud-auth-db:/var/lib/postgresql/data

  auth-service:
    build: .
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./secrets:/keys:ro
    depends_on:
      - db
      - communication-service

  communication-service:
    build:
      context: ../communication-service
    env_file:
      - ../communication-service/.env.compose
    environment:
      DATABASE_URL: postgresql://meusalud_auth:meusalud_auth@db:5432/meusalud_auth?schema=notification
    ports:
      - "3006:3006"
    depends_on:
      - db

  users-service:
    build:
      context: ../users-service
    env_file:
      - ../users-service/.env
    environment:
      DATABASE_URL: postgresql://meusalud_auth:meusalud_auth@db:5432/meusalud_auth?schema=users
      RABBITMQ_URL: amqp://app:app_pass_123@host.docker.internal:5672/
    ports:
      - "3008:3008"
    depends_on:
      - db

  doctors-service:
    build:
      context: ../doctors-service
    env_file:
      - ../doctors-service/.env
    environment:
      DATABASE_URL: postgresql://meusalud_auth:meusalud_auth@db:5432/meusalud_auth?schema=doctors
      RABBITMQ_URL: amqp://app:app_pass_123@host.docker.internal:5672/
    ports:
      - "3009:3009"
    depends_on:
      - db

volumes:
  meusalud-auth-db:
